
/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* DETECT MOBILE DEVICE */

@media only screen and (max-device-width: 768px) {
    #clock-bg {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        width: 35vh;
        height: 35vh;
    }
    #clock {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f1faee;
        width: 35vh;
        height: 35vh;
        border-radius: 50%;
        box-shadow: inset rgba(0, 0, 0, 0.363) 0 0 15px;
        border: 2vw solid #f1faee;
        cursor: pointer;
    }
    #sayhtchange {
        z-index: 15;
        position: absolute;
        bottom: 15px;
        width: 80vw;
        opacity: 0.9;
    }
}

/* GENERAL */
* {
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    background-color: #457b9d;
    color: #f1faee;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 1s ease;
}

a {
    text-decoration: none;
    color: #f1faee;
}

/* CLOCK */

@media only screen and (min-width: 768px) {
    #clock-bg {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        width: 35vw;
        height: 35vw;
    }

    #clock {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f1faee;
        width: 35vw;
        height: 35vw;
        border-radius: 50%;
        box-shadow: inset rgba(0, 0, 0, 0.363) 0 0 15px;
        border: 2vw solid #f1faee;
        cursor: pointer;
    }

    #sayhtchange {
        z-index: 15;
        position: absolute;
        bottom: 15px;
        width: 20vw;
        opacity: 0.9;
    }    
    
}

#popup {
    background-color: #111b29a9;
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    z-index: 20;
    cursor: pointer;
}
#popup h1 {
    text-shadow: rgb(2, 120, 255) 0 0 20px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
}
#popup p {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
}

#mainTitle {
    z-index: 15;
    position: absolute;
    top: 0;
    text-align: center;
}
#mainTitle h1 {
    font-size: 50px;
    text-shadow: rgba(0, 33, 59, 0.63) 0 0 10px;
}
#mainTitle p {
    color: #60b1e4;
    font-style: italic;
}

#container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digiTime {
    visibility: hidden;
    font-size: 10vw;
    font-family: 'Bebas Neue', cursive;
    text-shadow: rgba(0, 162, 255, 0.897) 0 0 20px;
}

#changeToPhys {
    visibility: hidden;
    display: flex;
    position: absolute;
    border-style: none;
    justify-content: center;
    align-items: center;
    margin-top: 45vh;
    width: 150px;
    height: 50px;
    background-color: #457b9d;
    color: #f1faee;
    padding: 20px;
    font-weight: 500;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.644) 0 0 20px;
    border-radius: 5px;
    transition: background-color .25s ease, box-shadow .25s ease, color .25s ease;
    cursor: pointer;
}
#changeToPhys:hover {
    background-color: #ffffff;
    color: #1d3557;
    box-shadow: rgba(0, 162, 255, 0.897) 0 0 17px;
}
#changeToPhys:focus {
    box-shadow: inset rgba(0, 162, 255, 0.897) 0 0 17px;
}

#middle {
    position: absolute;
    background-color: #111b29;
    width: 5%;
    height: 5%;
    border-radius: 50%;
    z-index: 10;
}
#hours {
    position: absolute;
    background: linear-gradient(#1d3557 50%, #1d355700 50%);
    width: 4%;
    height: 40%;
    border-radius: 10px;
}
#minutes {
    position: absolute;
    background: linear-gradient(#457b9d 50%, #1d355700 50%);
    width: 3%;
    height: 58%;
    border-radius: 10px;
}
#seconds {
    position: absolute;
    background: linear-gradient(#e63946 50%, #1d355700 50%);
    width: 1.5%;
    height: 80%;
    border-radius: 10px;
}